body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul{
	margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: Verdana,"Lantinghei SC","Hiragino Sans GB","Microsoft Yahei",Helvetica,arial,\5b8b\4f53,sans-serif;
}
a, dd, div, dl, i, img, input, li, p, span, ul{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased; 
}
ol,li{
	list-style: none;
}
body{
	background: #f5f5f5;
}
/* header部分 */
header{
	width: 100%;
	height: 59px;
    border-bottom: 1px solid #ececec;
    background: #fff;
}
header .header_wrapper{
	width: 1000px;
    margin: 0 auto;
    height: 60px;
    clear: both;
    position: relative;
}
/* logo部分 */
.header_wrapper .logo{
	width: 109px;
    display: inline-block;
    margin-right: 60px;
    height: 60px;
    float: left;
}
.header_wrapper .logo img{
	width: 109px;
	height: 40px;
    margin-top: 10px;
}
/* nav部分 */
nav{
	height: 60px;
    display: inline-block;
    float: left;
}
nav li{
	position: relative;
    font-size: 14px;
    line-height: 60px;
    display: inline-block;
    margin-right: 50px;
    cursor: pointer;
    height: 60px;
    float: left;
}
nav a{
	color: #333;
	text-decoration: none;
}
nav li i{
	margin-bottom: 2px;
	margin-left: 5px;
}
.arrow_icon{
	width: 8px;
    height: 8px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    display: inline-block;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin: 4px 4px;
}
@-webkit-keyframes rotate{
    0%{
       -webkit-transform: rotate(45deg); 
    }
    100%{
      -webkit-transform: rotate(360deg);
    }
}
nav li:hover .arrow_icon{
	margin-bottom: -2px;
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    animation: rotate 1s ease normal;
    -moz-animation: rotate 1s ease normal;
    -webkit-animation: rotate 1s ease normal;
}
nav li a:hover,
.showlist:hover{
	color: rgb(53, 181, 88);
}
.submenu a:hover{
	color: rgb(53, 181, 88);
	background: #fafafa;
}
nav .submenu{
	display: none;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 0;
    background: #fff;
    font-size: 12px;
    color: #666;
    width: 280px;
}
nav .submenu h3{
	margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
}
nav .submenu a{
	text-decoration: none;
	display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.school_list a i,
.vip_lesson a i{
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
    vertical-align: middle;
    background: url(../image/allicon.png) 0 0 no-repeat;
	background-size: 64px 64px;  
}
.school_list .web_icon{
	background-position: -15px -27px;
}
.school_list .android_icon,
.school_list .python_icon,
.school_list .go_icon,
.school_list .ios_icon{
	background: url(../image/allicon3.png) 0 0 no-repeat;
	background-size: 16px 148px;
}
.school_list .android_icon{
	background-position: -2px -60px;
}
.school_list .python_icon{
	background-position: -2px -2px;
}
.school_list .go_icon{
    background-position: -2px -38px;	
}
.school_list .ios_icon{
	background-position: -2px -82px;
}
.vip_lesson .kck_icon{
	background-position: 0 -13px;
}
.vip_lesson .zyljt_icon{
	background-position: -45px 0
}
.vip_lesson .zstxt_icon{
	background-position: -30px -13px;
}
.vip_lesson .xlkc_icon{
	background: url(../image/xlkc2.png) 0 0 no-repeat;
	background-size: 12px 12px;
	background-position: 0 0;
}
.vip_lesson .kcbq_icon{
	background-position: -15px -13px;
}
.vip_lesson .vip_icon{
	background-position: -16px 0
}
.vip_lesson .jswd_icon{
    background-position: 0 -27px;
}
.vip_lesson .wiki_icon{
    background-position: -29px -27px;
}
.vip_lesson .sq_icon{
    background-position: 0 2px;
}
.vip_lesson .zygx_icon{
    background-position: -30px 0;
}
.vip_lesson a span{
    color: #bbb;
    float: right;
}
/* icon_box部分 */
.header_wrapper .icon_box{
	float: right;
    text-align: right;
    width: 200px;
    margin-right: 10px;
    height: 60px;
}
.icon_box .search_box,
.icon_box .app_box,
.icon_box .login_box{
   width: 42px;
   height: 100%;
   display: inline-block;
   text-align: center;
   line-height: 60px;
   cursor: pointer;
   position: relative;
}
.icon_box span{
	height: 17px;
    width: 17px;
    display: inline-block; 
}
.search_icon{
    background: url(../image/search-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0 0;
}
.app_icon{
    background: url(../image/app-icon.png) 0 0 no-repeat;
    background-size: 17px 17px;
    background-position: 0 0;
}
.login_icon{
   background: url(../image/login-icon.png) 0 0 no-repeat;
   background-size: 17px 17px;
   background-position: 0 0;
}
.icon_box .submenu{
	background: #fff;
    width: 120px;
    z-index: 1200;
    position: absolute;
    line-height: 0;
    top: 60px;
    right: -10px;
}
.app_box .submenu{
	right: -40px;
}
.app_box .submenu img{
	width: 100%;
}
.submenu .top_icon{
	width: 15px;
    height: 15px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    display: inline-block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform-origin: 4px 4px;
    background: #fff;
    position: absolute;
    top: -9px;
    right: 50px;
}
.registry_cente .top_icon{
    position: absolute;
    top: -8px;
    right: 10px;
}
.registry_cente dd{
	text-align: left;
    font-size: 12px;
    line-height: 35px;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
}
.registry_cente dd a{
	color: #666;
    height: 35px;
    line-height: 35px;
    display: block;
    text-decoration: none;
}
.registry_cente .reg_btn,
.registry_cente .login_btn{
	width: 40%;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
}
.registry_cente dd i{
    width: 12px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
	background: url(../image/allicon2.png) 0 0 no-repeat;
	background-size: 64px 64px;
}
.registry_cente .xxzx_icon{
    background-position: -16px -15px;
}
.registry_cente .grzy_icon{
   background-position: -45px -1px;
}
.registry_cente .xxtz_icon{
    background-position: -16px -30px;
}
.registry_cente .zhsz_icon{
   background-position: -30px -1px;
}
/* searchbox scale部分 */

.header_wrapper .searchbox{
    display: none;
    transform: scale(0.1, 1);
    -moz-transform: scale(0.1, 1);
    opacity: 0;
    height: 59px;
    line-height: 59px;
    width: 850px;
    background: #fff;
    position: absolute;
    z-index: 11000;
    top: 0;
    right: 0;
}
.scale {
    transform-origin: right center;
    -moz-transform-origin: right center;
    display: block!important;
    transform: scale(1, 1) !important;
    opacity: 1!important;
    /* transition: transform 0.8s ease; */
    animation: scalerun 0.8s ease normal;
    -moz-animation: scalerun 2s line normal;
    -webkit-animation: scalerun 0.8s ease normal;
}
@-webkit-keyframes scalerun{
    0% {
        opacity: 0;
        transform: scale(0.1, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }	
}

.searchbox .search_icon{
	height: 17px;
    width: 17px;
    display: inline-block;
}
.searchbox .close_icon{
	width: 15px;
    height: 15px;
    margin-top: 22px;
    cursor: pointer;
    background: url(../image/close-icon.png) 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    z-index: 1200;
}
.searchbox input{
	width: 400px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: top;
    margin-left: 10px;
    border: none;
    outline: none;
}
.searchbox .tagbox{
	width: 300px;
	height: 100%;
    text-align: right;
    display: inline;
    margin-right: 50px;
    float: right;

}
.tagbox a{
	font-size: 12px;
    color: #808080;
    background: #f5f5f5;
    padding: 3px 5px;
    margin-left: 10px;
    text-decoration: none;
}
/* article 部分*/
article{
	width: 100%;
	clear: both;
	overflow: hidden;
}
article .art_wrapper{
	width: 1000px;
    margin: 0 auto;
    clear: both;
    margin-top: 20px!important;
}
/* article main部分 */
.art_wrapper .main{
	width: 776px;
	float: right;
	overflow: hidden;
	clear: both;
}
.main .bd{
	color: #666;
    font-size: 12px;
    line-height: 1.5;
}
.sort{
	position: relative;
    z-index: 500;
}
.sort .wrap{
	box-sizing: content-box;
    height: 38px;
    background: #fff;
    color: gray;
    line-height: 38px;
}
.sort .sortMode{
    height: 38px;
    overflow: visible;
    float: left;
}
.sort .sortMode h3{
	float: left;
    padding: 0 21px;
    background: #fff;
    border-right: 1px solid #f5f5f5;
    font-size: 12px;
    font-weight: 400;
    cursor: default;
}
.sort .sortMode dl{
    height: 36px;
    margin: 0 1px 0 -1px;
    white-space: nowrap;
    position: relative;
    z-index: 10;
    overflow: hidden;
    float: left;
}
.sort .sortMode>dl:hover{
	height: auto;
    overflow: visible;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-width: 0 1px 1px;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.1);
    box-shadow: 1px 1px 4px rgba(0,0,0,.1);
}
.sort .sortMode>dl:hover dt>.arrow{
	visibility: hidden;
}
.sort .sortMode dl:hover dt{
	padding: 0 17px;
}
.sort .sortMode dt{
	padding: 0 18px;
    cursor: default;
}
.sort .sortMode dt>.arrow{
	position: relative;
    display: inline-block;
    margin-left: 5px;
}
.sortMode .arrow::before,
.sortMode .arrow::after{
	display: block;
    width: 0!important;
    height: 0!important;
    padding: 0!important;
    font-size: 0!important;
    line-height: 0!important;
    border: 5px solid transparent;
    border-bottom-width: 0;
    border-top-color: gray;
    content: "";
}
.sort .sortMode dt>.arrow::after{
	display: inline-block;
	border-width: 4px;
    border-bottom-width: 0;
    border-top-color: #fff;
	position: absolute;
    left: 1px;
    bottom: 1px;    
}
.sort .sortMode dd{   
    -webkit-transition: all .1s ease .1s;
    -moz-transition: all .1s ease .1s;
    -ms-transition: all .1s ease .1s;
    transition: all .1s ease .1s;
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: 12;
}
.sort .sortMode dl:hover dd {
    visibility: visible;
    opacity: 1;
}
.sort .sortMode dd a{
	display: block;
    padding: 0 32px 0 17px;
    font-weight: 500;
    color: gray;
    text-decoration: none;
}
.sort .sortMode dd a:hover{
	color: #35b558;
}
.sort .previewMode{
	float: right;
}
.previewMode .curr,
.previewMode li:hover{
	background: #fff;
}
.previewMode li{
    float: left;
    width: 36px;
    height: 38px;
    border-left: 1px solid #f5f5f5;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    transition: background-color .2s;
    position: relative;
}
.previewMode .kuai_icon .icon{
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
    background: url(../image/icon-kuai.png) no-repeat 0 0;
    background-size: 14px;
}
.previewMode .list_icon .icon{
	display: inline-block;
	width: 19px;
	height: 19px;
	vertical-align: middle;
    background: url(../image/icon-list.png) no-repeat center;
    background-size: 16px 12px;
}
/* lesson_list部分 */
.lesson_list ul{
	width: 790px;
	margin-top: 15px;
}

.lesson_list ul li{
	height: 225px;
    margin-right: 13px;
    margin-bottom: 13px;
}
.lesson_list ul li{
	width: 250px;
    height: 225px;
    float: left;
    margin-right: 13px;
    margin-bottom: 13px;
}
.lesson_list .lessonimg_box{
	width: 100%;
    height: 135px;
    position: relative;
}
.user_action{
    width: 16px;
    height: 16px;
    background: url(../image/shoucang-1.png) no-repeat;
    background-size: 16px 16px;
    z-index: 101;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}
.lesson_list .lessonimg_box .lessonimg{
	width: 100%;
    height: 135px;
    vertical-align: middle;
}
.lesson_list .lessonplay{
	background: #000;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.lesson_list .lessonplay .playericon{
    width: 50px;
    height: 50px;
    display: none;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url(../image/player_icon.png) 0 0 no-repeat;
    cursor: pointer;
    background-size: 50px 50px;
    position: absolute;
    z-index: 120;
}
.lesson_list .lesson_infor{
	padding: 10px;
    position: relative;
    z-index: 200;
    height: 88px;
    overflow: hidden;
    background: #fff;
    height: 175px;
}
.lesson_infor .lesson_info_h2{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 18px;
    margin-bottom: 12px;
    height: 36px;
    overflow: hidden;
}
.lesson_infor p{
	color: gray;
    font-size: 12px;
    line-height: 18px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin-bottom: 10px;
    display: none;
    height: 52px;
    opacity: 1;
    display: block;
}
.timeandicon{
	font-size: 12px;
    color: gray;
    position: relative;
}
.lesson_list .lesson_infor .timeandicon dl{
	width: 120px;
    float: left;
    white-space: nowrap;
}
.lesson_list .lesson_infor .timeandicon dl dd{
	font-size: 12px;
}
.timeandicon dl dd{
	font-size: 12px;
    float: left;
    display: inline-block;
    margin-right: 15px;
}
.mar_b8{
	margin-bottom: 8px;
}
.lesson_list .lesson_infor .lesson_info_h2 a,
.lesson_list .lesson-infor .lesson_info_h2 a:hover{
	color: #333;
	text-decoration: none;
}
em{
	font-style: normal;
}
.lesson_list .lesson_infor .timeandicon .time_icon{
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    background: url(../image/clok.png) 0 0 no-repeat;
    background-size: 14px 14px;
}

.lesson_infor .timeandicon .xinhao_icon2{
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    background: url(../image/tow-ji.png) 0 0 no-repeat;
    background-size: 14px 14px;
}
.lesson_infor .timeandicon .learn_number{
	float: right;
}
.cf::after{
	content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.lesson_infor .lessonicon_box{
    position: absolute;
    right: 0;
    text-align: right;
    bottom: 4px;
}
.lesson_list .lessonimg_box .vip_icon,
.lesson_list2 .lessonimg_box .vip_icon{
	height: 22px;
    width: 38px;
    display: inline-block;
    position: absolute;
    top: -2px;
    right: 8px;
    z-index: 101;
    background: url(../image/tag_vip.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
.lesson_infor .timeandicon .xinhao-icon3{
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    background: url(../image/three-ji.png) 0 0 no-repeat;
    background-size: 14px 14px;
}
/* lesson_list2部分 */
.lesson_list2 ul li{
	height: 100px;
    padding: 0;
    background-color: #fff;
    margin-top: 13px;
}
.lesson_list2 .lessonimg_box{
	width: 185px;
    height: 100px;
    float: left;
    margin-right: 15px;
    position: relative;
}
.lesson_list2 .lesson_shoucang{
	position: absolute;
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
    background: url(../image/shoucang-1.png) no-repeat;
    background-size: 16px 16px;
    z-index: 101;
    cursor: pointer;
}
.lesson_list2 .lessonimg_box .lessonimg{
	width: 185px;
    height: 100px;
}
.lesson_list2 .lessonplay{
	background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.lesson_list2 .lessonplay .playericon{
	position: absolute;
    z-index: 120;
    width: 50px;
    height: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    background: url(../image/player_icon.png) no-repeat;
    background-size: 50px 50px;
    cursor: pointer;
}
.lesson_list2 .lesson_infor{
	position: relative;
    height: 100px;
    width: 566px;
    float: left;
}
.lesson_list2 .lesson_infor .lesson_info_h2{
	font-size: 14px;
    color: #333;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    font-weight: 400;
}
.lesson_list2 .lesson_infor p{
	height: 36px;
    opacity: 0;
    display: block;
    color: gray;
    font-size: 12px;
    opacity: 1!important;
    line-height: 18px;
    overflow: hidden;
    margin-bottom: 10px;
}
.lesson_list2 .lesson_infor .timeandicon .time_icon{
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-right: 8px;
    background: url(../image/clok.png) 0 0 no-repeat;
    background-size: 14px 14px;
}
.lesson_list2 .lesson_infor .lessonicon_box{
	position: absolute;
    right: 0;
    text-align: right;
    top: -75px;
}
.lesson_list2 .lesson_infor .lessonicon_box a{
	display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
}
.lesson_list2 .lesson_infor .lesson_info_h2 a{
	color: #333;
	text-decoration: none;
}
/* aside部分 */
.art_wrapper aside{
    width: 210px;
    float: left;
}
aside .aside_allCategory{
	border: 1px solid #35b558;
    background-color: #fff;
}
.aside_title{
	height: 45px;
    padding: 0 32px;
    border-bottom: 1px solid #eee;
    line-height: 45px;
}
.aside_title h2{
    font-size: 14px;
    font-weight: 400;
    position: relative;
}
.aside_title h2 a{
	color: #35b558;
	text-decoration: none;
}
.aside_icon{
	display: block;
    width: 15px;
    height: 15px;
    background: url(../image/icon-course-curr.png) no-repeat 0 0 / 15px 15px;
    position: absolute;
    margin-left: -20px;
    margin-top: 14px;
}
.aside_con .aside_cList{
    width: 208px;
    position: relative;
}
.aside_cList li>div:hover>a{
	display: block;
    width: 188px;
    background: #fff;
    position: absolute;
    z-index: 1102;
    border-right: 3px solid #fff;
    color: #35b558;
    font-size: 13px;
    font-weight: 500;
    line-height: 36px;
}
.aside_cList li>div:hover{
	border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 38px;
    width: 210px;
    margin-top: -1px;
    margin-left: -1px;
    padding-left: 24px;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}
.aside_cList li>div:hover .list_show{
	display: block;
	width: 402px;
    top: -45px;
}
.aside_cList li>div{
	cursor: pointer;
    width: 208px;
    height: 37px;
    border-bottom: 1px solid #f5f5f5;
    background: url(../image/icon-more.png) 186px center no-repeat;
    background-size: 6px 10px;
    padding-left: 32px;
}
.aside_cList li>div a{
	font-size: 12px;
    color: #666;
    line-height: 36px;
    text-decoration: none;
}
.aside_cList li .list_show{
	display: none;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,.1);
    overflow: hidden;
    min-height: 417px;
    min-width: 401px;
    background: #fff;
    border: 1px solid #ddd;
    position: absolute;
    left: 209px;
    top: -46px;
    z-index: 1101;
    list-style: none;
    margin-left: -1px;
    padding-bottom: 30px;
    float: left;
    width: 591px;
}
.aside_cList .list_show dl{
	margin: 0 15px;
    overflow: hidden;
}
.aside_cList .list_show dt{
	display: block;
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 45px;
}
.aside_cList .list_show dt>a{
	color: #333;
    font-size: 13px;
    font-weight: 500;
}
.aside_cList .list_show dd{
	list-style: none;
	margin-left: -8px;
    padding: 3px 0;
}
.aside_cList .list_show a:hover{
	color: #35b558;
}
.cf{
	zoom: 1;
}
.aside_cList .list_show dd a{
	height: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0 7px;
    color: #666;
    display: inline-block;
    font-size: 12px;
    border-left: 1px solid #e0e0e0;
    float: left;
    white-space: nowrap;
    font-weight: 400;
}
/* hdlist部分 */
aside .hdlist{
	width: 100%;
    background-color: #fff;
}
.hdlist li{
	height: 45px;
	position: relative;
}
.hdlist a{
	display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: #333;
    font-size: 14px;
    padding-left: 10px;
    text-decoration: none;
}
.hdlist a:hover{
	color: #35B558;
	color: #35b558;
    background: #fafafa url(../image/img-seeall.png) no-repeat 160px center;
    background-size: 40px 10px;
}
.hdlist a i{
	display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    vertical-align: text-bottom;
}
.hdlist span{
	text-align: right;
	font-size: 12px;
	position: absolute;
	top: 14px;
	right: 10px;
	transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
}
.hdlist a .icon_zylj{
	background: url(../image/icon-zylj.png) no-repeat left center;
    background-size: 15px 14px;
}
.hdlist a .icon_zstx{
	background: url(../image/icon-zstx.png) no-repeat left center;
    background-size: 15px 12.5px;
}
.hdlist a .icon_xlkc{
	background: url(../image/icon-xlkc.png) no-repeat left center;
    background-size: 14px 14px;
}
.hdlist a .icon_kcbq{
	background: url(../image/icon-kcbq.png) no-repeat left center;
    background-size: 15px 13px;
}
/* page_nav部分 */
#page_nav{
	text-align: center;
    margin-top: 17px;
    /* height: 28px; */
}
.pages{
	display: block;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
    margin: 10px 0 45px;
    padding: 0;
}
.pages li{
	display: inline-block;
    width: 32px;
    height: 32px;
    border: 0;
    margin-left: 2px;
    line-height: 30px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 12px;
    background: #fff;
    color: gray;
    border: 1px solid #e4e4e4;
}
ul.pages li:hover{
    border: 1px solid #35B558;
}
.pages .pgNext{
	width: 50px;
}
.pages .pgEmpty{
	border: 1px solid #f0f0f0;
    color: #d9d6c3;
    width: 50px;
    cursor: default;
}
.pages li:nth-child(2){
	width: 72px;
}
.pages .pgCurrent{
	background: #35b558;
    color: #fff;
    border: 1px solid #35B558;
}
.pages li.thpoint{
	border: 0;
    cursor: auto;
    color: #000;
    background: none!important;
    margin-top: 3px;
}
.pages li.pagetotal{
	width: 70px;
}
.pages li.pagenow{
	width: 100px;
}
.pages li.pagetotal:hover,
.pages li.pagenow:hover{
    border: none;
    color: #333;
}
#page_nav input{
	width: 35px!important;
    height: 22px!important;
    background: #fff;
    border: 1px solid #e4e4e4;
    color: #666;
    line-height: 22px;
    margin: 0 10px;
    vertical-align: middle;
}
.pages li.go{
	width: 32px;
    height: 22px;
    line-height: 22px;
    margin-top: 6px;
}
/* footer部分 */
footer{
	min-width: 1000px;
    border-top: 1px solid #e4e4e4;
    background: #fff;
    margin-top: 50px!important;
}
footer .foot_wrap {
	width: 1000px;
	height: 215px;
	margin: 0 auto;
	border-bottom: 1px solid #f5f5f5;
	padding-left: 224px;
	padding-top: 25px;
	position: relative;
	text-align: center;
	font-size: 12px;
    color: #999;
}
.foot_wrap a,
.copyright strong a{
	color: #999999;
	text-decoration: none;
}
.foot_wrap .company_logo {
	display: inline-block;
	width: 160px;
	text-align: left;
	position: absolute;
	top: 25px;
	left: 0;
}

.company_logo img {
	width: 109px;
	height: 40px;
}

.company_logo p {
	color: #555;
	margin-top: 20px;
}
.foot_wrap a:hover{
	text-decoration: none;
	color: #35b558;
}
.foot_wrap dl {
	width: 135px;
	color: #808080;
	float: left;
	text-align: left;
}

.foot_wrap dl dd {
	line-height: 30px;
	text-align: left;
}

.foot_wrap .code {
	width: 175px;
	position: absolute;
	text-align: left;
	top: 25px;
	right: 0;
}

.code .iphone,
.code .Android {
	width: 140px;
	height: 30px;
	border: 1px solid #eeeeee;
	text-align: center;
	line-height: 30px;
	color: #808080;
	font-size: 13px;
	display: inline-block;
	margin-top: 10px;
	position: relative;
}
.code img{
	display: block;
    width: 115px;
    height: 153px;
    position: absolute;
    top: -157px;
    left: 12px;
    z-index: 2;
    display: none;
}
.code .iphone {
	background: url(../image/icon-down-ios.png) no-repeat 0 0;
	background-size: 30px 30px;
}

.code .Android {
	background: url(../image/icon-down-and.png) no-repeat 0 0;
	background-size: 30px 30px;
}

footer .copyright {
	width: 1000px;
	height: 83px;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.i_wechat img,
.i_sina img {
	width: 20px;
	height: 15px;
	float: right;
	margin: 5px;
}

footer .cert {
	display: block;
	width: 60px;
	margin: 10px auto 0;
}

.gotop {
    width: 35px;
    position: fixed;
    left: 50%;
    margin-left: 510px;
    bottom: 50px;
    text-align: center;
    z-index: 2000;
}
.gotop .top{
	width: 35px;
    display: none;
	height: 34px;
	background: url(../image/gotop.jpg) top no-repeat;
    background-size: 34px 103px;
    -webkit-background-size: 34px 103px;
    -moz-background-size: 34px 103px;
}
.gotop .top:hover{
	background: url(../image/gotop2.jpg) 0 0 no-repeat;
    background-position: 0 0;
    background-size: 34px 103px;
    -webkit-background-size: 34px 103px;
    -moz-background-size: 34px 103px;
}
.gotop .erwma {
	width: 34px;
    display: block;
    position: relative;
    background: url(../image/gotop.jpg) 0 -34rem no-repeat;
    background-size: 34px 103px;
    height: 3.5rem;
}    
.erwma img,.company_app .appewm{
    width: 126px;
    height: 159px;
    position: absolute;
    z-index: 2100;
    left: -135px;
    top: -70px;
}
.gotop .company_app{
	display: block;
    background: #f7f7f7 url(../image/phone-1.png) center center no-repeat;
    background-size: 10px 20px;
    width: 34px;
    height: 35px;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}
.company_app .appewm{
    background: url(../image/appewm.png) center center no-repeat;
    background-size: 100%;
    display: none;
}
