table th tr td{
	margin: 0;
	padding: 0;
}
html,body,.wraper{
   width: 100%;
   height: 100%;
}
.content{
	width: 300px;
	height: 400px;
	position: absolute;	
}
.content:hover{
	cursor:pointer;
}
table{
	width: 100%;
	height: 100%;
	border: 1px solid #959396;
	border-radius: 5px;
	font-size: 20px;
}
thead tr{
	width: 100%;
	height: 90px;
	background: #787c89;
	text-align: right;
}
.content td{
	width: 43px;
	height: 37px;
	background: #d0d0d0;
	text-align: center;
	border: 1px solid #959396;
}
.content td:hover{
	opacity: 0.6;
	filter: alpha(opacity: 0.6);
}
.content .active{
	font-size: 24px;
	color: #fbc588;
	background: #f7872c;
}